<% if object.errors.any? %>
	<%= pluralize(object.errors.count, "error") %> prohibited this conversationt from being saved:
	<ul>
		<% object.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>
	
	
<%= f.fields_for :posts do |ff| %>
	<%= render '/posts/new', f: ff, object: nil %>
<% end %>


