<% provide(:title, "Edit a Post") %>

<%= @conversation.title %>

<%= render '/posts/edit', :post => @post %>

<% to_display = @conversation.calls.select{|x| x.post.nil? && x.status != "removed"} + @conversation.posts.select{|x| x.status != "removed"} %>
<% to_display_sort = to_display.sort_by { |object| object.created_at} %>


<ul>
	<% to_display_sort.each do |f| %>
		<% if f.class.name == "Call" %><li><%= render '/calls/show', :call => f %></li><% end %>
		<% if f.class.name == "Post" %><li><%= render '/posts/show', :post => f %></li><% end %>
	<% end %>
</ul>

